* {
  /* border: 1px green solid; */
}
.all-products-section {
  width: 80vw;
  transform: translate(10vw, 8vw);
  display: flex;
  flex-direction: column;
}
.all-products-section div:nth-child(3){
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;

}
.all-products-section button {
  background-color: #db4444;
  width: 14vw;
  padding: .8vw;
  font-size: 1.2vw;
}
.all-products-section button:hover ,
.all-products-section button:focus ,
.all-products-section button:active {
 background-color: #f35353;
 cursor: pointer;
}
/* .all-products-section a{
  width: 20vw;
  background-color: #db4444;
  text-align: center;
  font-size: 1.1vw;
  padding: 1vw;
  border-radius: .3vw;
  transform: translateX(30vw);
  margin-top: 4vw;
  text-decoration: none;
  color: white;
}
.all-products-section a:hover{
  background-color: #f35353;
 cursor: pointer;
} */
.all-products-section h3 {
  font-size: calc(16px + 1vw);
  margin-bottom: 2vw;
  color: #db4444;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
 /* transform: translateX(-10vw); */
}
.products-grid img {
  height: 10vw;
}
.products-grid a {
  height: 19vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  background-color: rgb(245, 245, 245);
  border-radius: .5vw;
  width: 18vw;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: relative;
  text-decoration: none;
  color: black;
}
.products-grid a .products-info-container .products-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  width: 18vw;
  font-size: 1.1vw;
  position: absolute;
  bottom: 1vw;
  flex-direction: column;

}
.products-grid a .products-info-container .products-detail p:nth-child(1) {
  color: #db4444 !important;
  font-weight: 700;
  padding-right: .5vw;
  padding-left: 0vw !important;
  text-align: left;
  width: 100%;
  font-size: 1.2vw;
  text-indent: .2vw;
}
.products-grid a .products-info-container .products-detail p{
  color: grey !important;
  padding-left: .5vw;
}
.products-grid .products-info-container {
  width: 17vw;
  /* text-indent: 1vw; */
  padding-top: 1vw;
  font-size: 1.4vw;
  padding-left: 1vw;
  line-break: strict;
}
.products-grid .products-info-container .ratings{
  width: 100%;
  text-indent: 0vw;
  display: flex;
  align-items: flex-start;
}
/****Loader*****/

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width:60px;
  height: 60px;
  border-radius: 50%;
  border-left: 4px solid #db4444;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 