.single-product{
  padding-top: 10vw;
  display: flex;
}
.single-product .images-section{
  height: 35vw;
  width: 35vw;
  background-color: rgb(221, 221, 221);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
}
.single-product .details{
  margin-left: 5vw;
  width: 30rem;
}
.single-product .details .details-top{
  display: flex;
  gap: .5rem;
  flex-direction: column;  
}
.single-product .details .details-top p:nth-child(1){
 font-size: 1.5rem;
 font-weight: 600;
}
.single-product .details .details-top p:nth-child(3){
 font-size: 1.5rem;
}
.single-product .details .details-top p:nth-child(4){
 padding-top: .5rem;
line-break: strict;
}
.single-product .details .details-top .ratings{
 display: flex;
}
.single-product .details .details-top .ratings .stock{
 padding-left: 1rem;

}
.details-top{
  padding-bottom: 1rem;
  border-bottom: 2px solid #c2c2c2;
}
.counter{
  border: 2px solid #c2c2c2;
  display: flex;
  width: min-content;
  font-size: 1.5rem;
  border-radius: .3rem;
  justify-content: center;
  align-items: center;
}
.counter p{
width: 5rem;
text-align: center;
}
.counter button {
  padding: .7rem;
font-size: 1.5rem;
}
.counter button:nth-child(3){
  background-color: #db4444;
 color: #ffffff;
}
.counter button:nth-child(1){
  background-color: #ffffff;
 color: #727272;
border-right: 2px solid #c2c2c2;
border-top-left-radius: .3rem;
border-bottom-left-radius: .3rem;

}
.details-bottom{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-bottom button:nth-child(2){
 background-color: #db4444;
 padding: .7rem;
 width: 12rem;
 font-size: 1.1rem;
 border-radius: .3rem;
 cursor: pointer;
}
.details-bottom button:nth-child(2):hover{
 background-color: #db4444ea;
}
.details-bottom button:nth-child(2):active{
  background-color: #db4444bb;
 }
.details-bottom .wishlist{
background: none;
border: 2px solid #c2c2c2;
border-radius: .3rem;
position: relative;
height: 3rem;
width: 3rem;
cursor: pointer;
}
.details-bottom .wishlist img{
height: 2.7rem;
position: absolute;
}
/**********Loader********/
.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width:60px;
    height: 60px;
    border-radius: 50%;
    border-left: 4px solid #db4444;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }