*{
    /* border: 1px green solid; */
}
nav{
    display: flex;
    /* grid-template-columns: 20% 40% 40%; */
    padding: 0vw;
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.527) 0px 2px 8px 0px;
    min-height: 6.7vw;
    /* gap:calc(16px + 12vw); */
    justify-content: space-between;
}
/* @media (max-width: 960px) {
    nav{
    grid-template-columns: 15% 40% 45%;
    }
}
@media (max-width: 800px) {
    nav{
    grid-template-columns: 15% 30% 55%;
    }
} */
nav h1{
    padding: 2vw;
    padding-left: 3vw;
}
nav .nav-left{
    display: flex;
    align-items: center;
    gap: 3vw;
    justify-content: center;
}
nav .nav-left ul{
    display: flex;
}
nav .nav-left ul li{
    list-style: none;
    padding: 1vw;
}
nav .nav-left ul li a {
    text-decoration: none;
    color: black;
    font-size: calc(8px + .7vw);
}
nav .nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .nav-right ul{
    display: flex;
    align-items: center;
}
nav .nav-right ul li{
 list-style: none;
 padding: 1vw;
}


/******Search Bar*********/

form {
    display:flex;
    flex-direction:row;
    border:none;
    padding:1px;
  }
  
  input {
    flex-grow:2;
    border:none;
    background-color: #F5F5F5;
    text-indent: 1vw;
    min-width: calc(16px + 15rem) ;
  }
  input:focus {
    outline: none;
  }
  form:focus-within { 
    outline: 1px solid rgb(0, 0, 0) 
  }
  
  button {
    background:none;
    border: none;
    color:white;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5vw;
  }
