* {
  /* border: 1px green solid; */
}
nav {
  display: flex;
  /* grid-template-columns: 20% 40% 40%; */
  padding: 0vw;
  position: fixed;
  z-index: 5;
  background-color: white;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.527) 0px 2px 8px 0px;
  min-height: 6.7vw;
  /* gap:calc(16px + 12vw); */
  justify-content: space-between;
  top: 0;
}
/* @media (max-width: 960px) {
    nav{
    grid-template-columns: 15% 40% 45%;
    }
}
@media (max-width: 800px) {
    nav{
    grid-template-columns: 15% 30% 55%;
    }
} */
nav h1 {
  padding: 2vw;
  padding-left: 3vw;
}
nav .nav-left {
  display: flex;
  align-items: center;
  gap: 3vw;
  justify-content: center;
}
nav .nav-left ul {
  display: flex;
}
nav .nav-left ul li {
  list-style: none;
  padding: 1vw;
}
nav .nav-left ul li a {
  text-decoration: none;
  color: black;
  font-size: calc(8px + 0.7vw);
}
nav .nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-right ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}
nav .nav-right ul li {
  list-style: none;
  padding: 0.3rem;
}
nav .nav-right ul li a img {
  height: 1.6rem;
}

/******Search Bar*********/

form {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 1px;
}

input {
  flex-grow: 2;
  border: none;
  background-color: #f5f5f5;
  text-indent: 1vw;
  min-width: calc(16px + 15rem);
}
input:focus {
  outline: none;
}
form:focus-within {
  outline: 1px solid rgb(0, 0, 0);
}

button {
  background: none;
  border: none;
  color: white;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
}

/*Cart count*/
.cart {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  height: auto;
  overflow: hidden;}
  .icons {
    position: relative;
    top: 4px;
    z-index: 1;
    font-size: 24px;
    color: white;
  }
  .cart .count {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 11px;
    border-radius: 50%;
    background: #db4444;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: block;
    text-align: center;
    color: white;
  }
.search-btn{
  display: none;
background: none;
}
.menu-btn{
  display: none;
}
.mobile-left{
  display: none;
}

/*Sidebar*/

aside{
  background-color: #242424;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  /* align-items: flex-start; */
  list-style: none;
  height: 100vh;
  position: fixed;
  z-index: 4;
  text-indent: 1rem;
  transition: all 300ms ease;
}
aside ul{
  list-style: none;
  padding-top: 4rem;
}
aside ul li a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
aside ul li {
  margin-top: 1rem;
  border-bottom: 3px rgb(214, 214, 214) solid;
  width: 90%;
  transform: translateX(5%);
  padding-bottom: .5rem;
}
.none{
  transform: translateX(-100%);
}
/*Resoponsive*/

@media only screen and (max-width: 780px) {
form{
  display: none;
}
.search-btn{
  display: inline;
}
}
@media only screen and (min-width: 520px) {
  aside{
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 520px) {
  
  .logo{
    display: none;
  }
  .mobile-left{
    display: flex;
    align-items: center;
  }
  .mobile-left a{
    display: flex;
    align-items: center;
  }
  nav{
    justify-content: space-between;
  }
  nav h1 {
   font-size: 1.5rem;
  }
  .nav-left{
    display: none !important;
  }
  .menu-btn{
    display: flex;
    background: none;
    color: black;
  }
  .menu-btn svg{
   font-size: 1.5rem;
  }
}
@media only screen and (max-width: 360px) {
 
  nav h1 {
   font-size: 1.2rem;
  }
  .menu-btn svg{
   font-size: 1.2rem;
  }
} 