* {
  /* border: 1px green solid; */
}

.categories-section {
  width: 80vw;
  transform: translate(10vw, 8vw);
  margin-top: 4vw;
}
.categories-section > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.categories-section div:nth-child(1) span {
  display: flex;
  gap: 1vw;
}
.categories-section div:nth-child(1) span button {
  all: unset;
}
.categories-section div:nth-child(1) span button img:hover,
.categories-section div:nth-child(1) span button img:active,
.categories-section div:nth-child(1) span button img:focus {
  cursor: pointer;
}
.categories-section div:nth-child(1) span button:nth-child(1) img {
  transform: rotate(180deg);
}

.categories-section h3 {
  font-size: calc(16px + 1vw);
  margin-bottom: 2vw;
  color: #db4444;
}
.categories-flex {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.categories-flex::-webkit-scrollbar {
  display: none;
}
.categories-flex a {
  border: 1px grey solid;
  padding: calc(16px + 2.5vw);
  border-radius: 0.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(16px + 5rem);
  min-width: calc(16px + 5.5rem);
  position: relative;
  color: black;
}
.categories-flex a p {
  font-size: calc(16px + 0.3vw);
  margin-top: 7rem;
  min-width: calc(16px + 11rem);
  text-align: center;
}

.categories-flex a span {
  height: 100%;
  min-width: 100%;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: rgb(44, 44, 44);
}
.categories-flex a span:hover {
  color: rgb(255, 255, 255);
}
.categories-flex a span .icon {
  font-size: calc(16px + 3rem);
  margin-top: 3vw;
}
.categories-flex a:hover,
.categories-flex a:focus,
.categories-flex a:active {
  cursor: pointer;
  background-color: #db4444;
  color: white !important;
}
.categories-flex a span:hover,
.categories-flex a span:focus,
.categories-flex a span:active {
  cursor: pointer;
  color: white !important;
}
