* {
  /* border: 1px green solid; */
}
.about-section {
  padding-top: 10vw;
  transform: translateX(10%);
  /* display: grid;
    grid-template-columns: repeat(2,50%); */
  display: flex;
  align-items: center;
  max-width: 90.9%;
}
.about-right {
  overflow: hidden;
}
.about-left {
  width: 40%;
  padding-right: 4vw;
}
.about-left p:nth-child(1) {
  font-size:3rem;
  font-weight: 500;
}

    
             

@media only screen and (max-width: 1200px) {

  .about-right{
    display: none;
  }
  .about-left {
    width: 100%;
    text-align: center;
  }
 
}
@media only screen and (max-width: 700px) {

  .about-left p:nth-child(1) {
    font-size:2rem;
    font-weight: 500;
    margin-top: 3rem;
  }
}
@media only screen and (min-height: 1260px) and (min-width: 900px) {

  .about-left p:nth-child(2) {
    font-size:2rem;
  }
}