.login-section{
    display: flex;
    padding-top: 10vw;
    /* padding-right: 25vw; */
    justify-content: space-between;
    align-items: center;
}
.login-section img{
    max-height:50vw;
}
.login-right-section{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-right: 10vw;
}
.login-right-section>p:nth-child(1){
    font-size: 2rem;
}
.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2vw;

}
.login-inputs input{
    all: unset;
    border-bottom: 2px solid rgb(187, 187, 187);
}
.login-section button{
    background-color:#db4444;
    padding: 1rem;
    font-size: 1.2vw;
    margin-top: 2vw;
    cursor: pointer;
    border-radius: .2vw;
}
.login-section button:hover{
    background-color: #f35353;

}
@media only screen and (max-width: 880px) {
    .login-section img{
        display: none;
    }
    .login-section button{
        background-color:#db4444;
        padding: 1rem;
        font-size: 1.2rem;
        margin-top: 2vw;
        border-radius: .5vw;
    }
    .login-section{
        display: flex;
        padding-top: 14vw;
        /* padding-right: 25vw; */
        justify-content: center;
        align-items: center;
    }
    }
@media only screen and (max-width: 480px) {
    .login-right-section>p:nth-child(1){
        font-size: 1.5rem;
        text-align: center;
    }
    .login-section button{
        background-color:#db4444;
        padding: .6rem;
        font-size: 1rem;
        margin-top: 2vw;
        border-radius: 1vw;
    }
    .login-section{
        padding-top: 14vw;
    }
    }